/* Tạo file css ở đây, để tiện ôn bài, đúng dự án thực tế sẽ nằm trong assets/ style / component / tên-component-dùng */
@font-face {
    font-family: fontGame;
    src: url(../../assets/gameXucXac/Pony.ttf);
}



/* Khi css cần sử dụng hình ảnh file ... thì link theo phạm vi thư mục src */
.bg-game {
    background-image: url('../../assets/img/gameXucXac/bgGame.png');
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    font-family: fontGame;
}